{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga nobis nihil culpa iusto voluptatem sed debitis quam quos illo, impedit, quis earum beatae repellendus eaque laboriosam nesciunt aliquam sapiente nulla cumque neque? Hic repudiandae optio minima tempora debitis ex esse iste nam quaerat, dolorem soluta aliquam impedit, officiis atque iusto delectus tenetur. Perspiciatis odit molestias adipisci tenetur maxime voluptate commodi obcaecati ducimus debitis nisi distinctio ad aliquam reiciendis sit provident nam, repudiandae facilis blanditiis sapiente vitae doloribus quidem omnis asperiores. Atque quam iste porro, ea, iure quidem ipsam at distinctio nemo neque ratione corrupti? Dolore veritatis eaque non quasi.</p>
{% endblock %}